<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="QuanLyCafe.Properties.Settings.QuanLyQuanCafeConnectionString" connectionString="Data Source=DESKTOP-FT1E413\HENRI;Initial Catalog=QuanLyQuanCafe;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="QLCafeDBContext" connectionString="data source=MSI\HUY;initial catalog=QuanLyQuanCafe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="QuanLyQuanCafeEntities" connectionString="metadata=res://*/Model.QLCafeDBContext.csdl|res://*/Model.QLCafeDBContext.ssdl|res://*/Model.QLCafeDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\HUY;initial catalog=QuanLyQuanCafe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyQuanCafeEntities1" connectionString="metadata=res://*/Model.QuanLyCafeDBContext.csdl|res://*/Model.QuanLyCafeDBContext.ssdl|res://*/Model.QuanLyCafeDBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\HUY;initial catalog=QuanLyQuanCafe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuanLyQuanCafeEntities2" connectionString="metadata=res://*/Models.CafeDB.csdl|res://*/Models.CafeDB.ssdl|res://*/Models.CafeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI\HUY;initial catalog=QuanLyQuanCafe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>